body {
    font-family: arial;
    color: white;
    background-color: black;
}

h1 {
    font-family: arial;
    color: white;
}

td {
    font-family: arial;
    font-size: 22px;
}

thead {
    font-family: arial;
    font-size: 22px;
    background-color: cornflowerblue;
}

a {
    color: black;
}

input {
    font-family: arial;
    font-size: 22px;
}

.pending {
    height: 36px;
    background-color: yellowgreen;
    color: black;
}

.pending_dev {
    height: 36px;
    background-color:yellow;
    color: black;
}

.testing {
    height: 36px;
    background-color: orangered;
    color: black;
}

.merged {
    height: 36px;
    background-color: green;
    color: black;
}

.archived {
    height: 36px;
    background-color: firebrick;
    color: black;
}

.jira_state {
    text-align: center;
    width: 16%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.jira_id {
    width: 5%;
    text-align: center
}

.jira_title {
    width: 74%;
}

.progress_row {
    height: 36px;
}

.progress_header {
    text-align: center
}

.progress_status {
    font-size: 32px;
    background-color: black;
    text-align: center;
    width: 33%
}

table.edit_table {
    background-color: aqua;
    border-spacing: 4px;
    color: green;
}

tr.edit_row {
    background-color: blanchedalmond;
}

td.mgmt {
    background-color: blanchedalmond;
}