<!DOCTYPE html>
<head><title>Merge Progress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1 class="progress_header">Merge Progress: feature/asi-arbl-stable</h1>
<table style="width: 100%; align-content: center; text-align: center">
    <tr>
        <td class="progress_status">Rebased onto Develop: {{ rebased }}</td>
        <td class="progress_status">Last Updated: {{ updated }}</td>
        <td class="progress_status">HEAD SHA: {{ head_sha }}</td>
    </tr>
</table>
{{ data }}
<p style="text-align: right">{{ date }}</p>
</body>
</html>
